@import url('//fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;

    --gradient-main: linear-gradient(to bottom, #418ad4 0%,#72b8e5 100%);

    --color-main: #4a94d1;
    --color-dark: #418ad4;
    --color-light: #72b8e5;
    --color-text: #4e4e4e;
    --color-grey: #a9a9a9;
    --color-danger: #dc3545;
    --color-success: #28a745;
    --color-primary: #007bff;
}